@use '@styles/variables.module.scss';
@use '@styles/colors.module.scss';

.plantsPage {
  min-height: variables.$app-min-height;
  padding: 1.5rem 2rem;

  .myPlantsCard {
    padding: 0.5rem 1.5rem;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    &:hover {
      background-color: colors.$grey-background;
    }
    &.selectedPlantCard {
      background-color: colors.$grey-background;
    }
  }

  .addPlantButton {
    margin-top: auto;
  }

  .selectedPlantDetail {
    padding: 2rem 3rem;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

.plantFormModal {
  &:global(.MuiModal-root) {
    display: flex;
    justify-content: center;
    align-items: center;
    .plantFormCard {
      width: 80vw;
      max-width: 500px;
      padding: 1.5rem 3rem;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }
}
