.plantDetailModal {
  &:global(.MuiModal-root) {
    display: flex;
    justify-content: center;
    align-items: center;

    .plantDetailCard {
      width: 80vw;
      max-width: 500px;
      padding: 1.5rem 3rem;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }
}
