@use '@styles/mixins.scss';

.plantDetailModal {
  &:global(.MuiModal-root) {
    display: flex;
    justify-content: center;
    align-items: center;

    .plantDetailCard {
      width: 80vw;
      max-width: 500px;
      padding: 1.5rem 3rem;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;

      .plantImages {
        margin-top: 1rem;
        align-self: center;
        overflow: auto;
        max-width: 60vw;
        gap: 1rem;
        padding-bottom: 6px;

        .plantImage {
          max-height: 150px;
          max-width: 150px;
        }
      }
    }
  }
}

@include mixins.for-phone-only {
  .plantImages {
    width: 100%;
  }
}
